@font-face {
  font-family: 'YeonSung';
  src: url('../fonts/YeonSung-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TitanOne';
  src: url('../fonts/TitanOne-Regular.ttf') format('truetype');
}
