p {
  font-family: 'YeonSung';
}
body {
  background-color: yellow;
}
.Title {
  color: FireBrick;
  font-family: TitanOne;
  text-align: center;
  font-size: 20pt;
  line-height: 1.5em;
}

.Author {
  color: Black;
  font-size: 120%;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
